*BetterEditorPrefs.asset
ProjectSettings*
Plugins/Editor/ConsolePro*
Plugins/Editor/UnityVS*

AssetStoreTools*

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Temp.meta
Rebracer.xml
pc_Data/
pc.exe
UnityVS.config
